.user_login{ background-image:url(../images/snowy-mountain.jpg); background-size:cover; height:800px; }


.calculator{
	width:240px;
	height:auto;
	margin:5% auto;
	background:#ccc;
	-moz-box-shadow:inset 0 0 12px #FFF,
	inset 0px 1px #E6E6E6, 0 1px 1px #323643,
	inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0 0 12px #FFF,
	inset 0px 1px #E6E6E6, 0 1px 1px #323643,
	inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
	box-shadow:inset 0 0 12px #FFF,
	inset 0px 1px #E6E6E6, 0 1px 1px #323643,
	inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
}
.screen{
	width: 89.5%;
	height:54px;
	margin:20px 0px 0px 12px;
	padding-right:9px;
	background:#858585;
	text-align:right;
	border-radius:6px;
	border:1px solid #6B6B6B;
	font-size:26px;
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	-moz-box-shadow:inset 0 0 10px #333,
	inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
	-webkit-box-shadow:inset 0 0 10px #333,
	inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
	box-shadow:inset 0 0 10px #333,
	inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}
.screen:focus{
	outline:none;
}
.buttons{
	width:220px;
	margin:12px;
}
.buttons button{
	width: 62.5px;
	height:45px;
	padding:0;
	margin:0px 0px 10px 5px;
	border:1px solid #333;
	border-radius:6px;
	color:#CCC;
	font:24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 45px;
	-moz-box-shadow:inset 0 0 10px #666,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	-webkit-box-shadow:inset 0 0 10px #666,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	box-shadow:inset 0 0 10px #666,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	background:#333;
}
.buttons button:active {
	color:#FFF;
	border:1px solid #333;
	-moz-box-shadow:inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
	-webkit-box-shadow:inset 0 1px 1px #000, 0px 1px #E6E6E6;
	box-shadow:inset 0 1px 1px #000, 0px 1px #E6E6E6;
}
.bottom_buttons{ width: 100%; padding: 0 10px 10px 10px; }
.bottom_buttons .bottom_bt{width:49%;
	background-color: #036;
	border:1px solid #036;
	color: #fff;
	margin:5px 0;
	text-transform: capitalize;
	padding:10px;
	-moz-box-shadow:inset 0 0 10px #069,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	-webkit-box-shadow:inset 0 0 10px #069,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
	box-shadow:inset 0 0 10px #069,
	inset 0px 1px #BCD6FF, 0 1px 1px #323643;
}
.inner_body{
	background: #838594;
}
.left_section{
	width:70%;
	float:left;
	padding:4px 4px;

}
.page_section{
	float:left;
	width:100%;
	
	
}
.page_top{
   height:767px;
   padding:2px;	
}
.page_left_div{
 float:left;
	width:100%;
	background: #fff;
	margin-bottom: 6px;
	box-shadow: 0px 0px 2px 2px #000 inset;
	border-radius:5px 5px;
	-moz-border-radius:5px 5px;
	-o-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
}
.right_section{
	float:left;
	width:30%;
	padding:4px 4px;
}
.page_right_section{
	float:left;
	width:100%;
	
}
.page_right_div{
	float:left;
	width:100%;
	background: #fff;
	height:auto;
	box-shadow: 0px 0px 2px 2px #000 inset;
	border-radius:5px 5px;
	-moz-border-radius:5px 5px;
	-o-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	padding:3px 3px;
	margin-bottom: 6px;
}
.page_right_div table.account{
	
	float:left;
	width:100%;
}
.page_right_div table.account th{
	background: #858796;
	color: #fff;
	padding:13px 12px;
	font-weight:400px;
	border-right:solid 1px #d8d8d8;

}
.page_right_div table.account td{
	color: #444;
	padding:13px 12px;
	font-weight:400;
	border-right:solid 1px #d8d8d8;
	border-bottom: solid 1px #d8d8d8;
}
.page_right_div table.account td:last-child,.page_right_div table.account th:last-child{
	border-right: none;
}
.border_none{
	border-right:none !important;
}
.right_button{
	float:left;
	list-style-type: none;
	margin:0px;
	padding:4px 0;
	width:100%;
}
.right_button li{
	float:left;
	padding:11px 8px;
	border-right:solid 1px #cecece;
	    height: 60px;
}
.right_button li:nth-child(1){
	width:20%;
}
.right_button li:nth-child(2){
	width:20%;
}
.right_button li:nth-child(3){
	width:30%;
}
.right_button li:nth-child(4){
	width:30%;
}
.right_button li:last-child{
	border-right:none!important;
}
.right_button li span{
	float:left;
	width:100%;
	text-align: center;
}
.right_button_1{
	padding-top:4px;
	float:left;
	width:100%;
	text-align: center;
}
.right_button_2{
	padding-top:4px;
	float:left;
	width:100%;
	text-align: center;
}
.right_button2{
	float:left;
	width:100%;
	margin:0px;
	padding:5px 0;
	list-style-type: none;
}
.right_button2 li{
	float:left;
	width:50%;

}
.hand_button{

    float: left;
    width: 100%;
    padding: 32px 0px;
    cursor: pointer;
    text-align: center;
    border-left:solid 1px #cacaca;
}
.main_nav{
	float:left;
	list-style-type: none;
	margin:0px;
	padding: 7px 0;
	width:100%;
}
.main_nav li{
	float:left;
	width:calc(100% / 7);
	padding:8px 8px;
	border-right:solid 1px #c1c1c1;
}
.main_nav li:last-child{
 border-right: none;
}
.main_nav li a{
	float:left;
	width:100%;
	text-align:center;
	text-decoration: none;
	color:#444;
	padding:10px 0px;
}
.full_width{
	float:left;
	width:100%;
}
.more_nav{
	float:left;
	width:12%;
	padding:8px 5px;
}
.more_nav a{
	color:#fff;
	font-size:18px;
	text-decoration: none;
	float:left;
	width:100%;
	text-align: center;
	padding:14px 0px;

}
.more_nav a:hover{
	color:#fff;
	text-decoration: none;
}
.nav_div{
	float:left;
	width:88%;
}
.page_tab{

	float:left;
	width:100%;
	    background: #838594;
}
.page_tab_d{
	float: left;
    background: #ccc;
    color: #000;
    padding: 9px 15px;
    width: 30%;
    font-size: 16px;
    border: solid 1px #444;
    font-weight: 600;
    border-radius: 5px 13px 0px 0px;

}
.page_tab_content{
	float:left;
	width:100%;
}
.tab_con_box_1{
	float:left;
	width:30%;
}
.tab_con_box_2{
	float:left;
	width:70%;
}
.tab_box{
	float:left;
	width:25%;
	padding:4px 4px;
}
.button_box_left{
float: left;
    background: #e4e4e4;
    padding: 32px 10px;
    border-radius: 5px;
    width:100%;

}

.button_box{
float: left;
    background: #e4e4e4;
    padding: 32px 10px;
    border-radius: 5px;
    width:100%;

}
.button_box .type_text{
  float:left;
  width:100%;
  text-align:center;
}
.button_box .price_text{
  float:left;
  width:100%;
  text-align:center;
}

.tab_box_1{
	float:left;
	width:100%;
	padding:4px 4px;
}
