.user_login {
    background-image: url(../images/snowy-mountain.jpg);
    background-size: cover;
    height: 800px;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

* {
    box-sizing: border-box;
}

.calculator {
    width: 240px;
    height: auto;
    margin: 5% auto;
    background: #ccc;
    -moz-box-shadow: inset 0 0 12px #FFF, inset 0px 1px #E6E6E6, 0 1px 1px #323643, inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 12px #FFF, inset 0px 1px #E6E6E6, 0 1px 1px #323643, inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
    box-shadow: inset 0 0 12px #FFF, inset 0px 1px #E6E6E6, 0 1px 1px #323643, inset 0px 1px #7b839b, 0 2px 5px rgba(0,0,0,.5);
}

.screen {
    width: 89.5%;
    height: 54px;
    margin: 20px 0px 0px 12px;
    padding-right: 9px;
    background: #858585;
    text-align: right;
    border-radius: 6px;
    border: 1px solid #6B6B6B;
    font-size: 26px;
    font: "Trebuchet MS", Arial, Helvetica, sans-serif;
    -moz-box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    -webkit-box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
    box-shadow: inset 0 0 10px #333, inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
}

    .screen:focus {
        outline: none;
    }

.buttons {
    width: 220px;
    margin: 12px;
}

    .buttons button {
        width: 62.5px;
        height: 45px;
        padding: 0;
        margin: 0px 0px 10px 5px;
        border: 1px solid #333;
        border-radius: 6px;
        color: #CCC;
        font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
        line-height: 45px;
        -moz-box-shadow: inset 0 0 10px #666, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
        -webkit-box-shadow: inset 0 0 10px #666, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
        box-shadow: inset 0 0 10px #666, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
        background: #333;
    }

        .buttons button:active {
            color: #FFF;
            border: 1px solid #333;
            -moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #E6E6E6;
            -webkit-box-shadow: inset 0 1px 1px #000, 0px 1px #E6E6E6;
            box-shadow: inset 0 1px 1px #000, 0px 1px #E6E6E6;
        }

.bottom_buttons {
    width: 100%;
    padding: 0 10px 10px 10px;
}

    .bottom_buttons .bottom_bt {
        width: 49%;
        background-color: #036;
        border: 1px solid #036;
        color: #fff;
        margin: 5px 0;
        text-transform: capitalize;
        padding: 10px;
        -moz-box-shadow: inset 0 0 10px #069, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
        -webkit-box-shadow: inset 0 0 10px #069, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
        box-shadow: inset 0 0 10px #069, inset 0px 1px #BCD6FF, 0 1px 1px #323643;
    }

.inner_body {
    background: #12679a;
}

.left_section {
    width: 70%;
    float: left;
    padding: 4px 4px;
    height: 95vh;
}

.page_section {
    float: left;
    width: 100%;
}

.page_top {
    height: 82vh;
    padding: 2px;
}

.page_left_div {
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 6px;
    box-shadow: 0px 0px 2px 2px #023350 inset;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}

.right_section {
    float: left;
    width: 30%;
    padding: 4px 4px;
    height: 95vh;
}

.right_top1 {
    height: 35vh;
}

.right_top2 {
    height: calc(7vh - 1px);
}

.right_top3 {
   height: calc(11vh - 6px);
}

.right_top4 {
    height: calc(5.6vh - 1px);
}

.right_top5 {
      height: calc(17.4vh - 1px);
}

.right_top6 {
    height: calc(6vh - 1px);
}
.right_top7 {
      height: calc(15vh - 6px);
}

.page_right_section {
    float: left;
    width: 100%;
}

.page_right_div {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #023350 inset;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    padding: 2px 2px;
    /*margin-bottom: 0.5vh;*/
    margin-bottom:6px;
}

    .page_right_div ul {
        padding: 0vh 10px 0vh 10px;
    }

        .page_right_div ul li {
            list-style: none;
            line-height: 30px;
            font-size: 9px;
        }

.bg-one {
    background-color: #12679a;
    color: #fff;
    padding: 0px 5px;
}

.bg-one1 {
    background-color: #d40735;
    color: #fff;
    padding: 0px 5px;
}

.bg-one2 {
    background-color: #70C07F;
    color: #fff;
    padding: 0px 5px;
}

.page_right_div table.account {
    float: left;
    width: 100%;
}

    .page_right_div table.account th {
        background: #12679a;
        color: #fff;
        padding: 13px 12px;
        font-weight: 400px;
        border-right: solid 1px #177bb7;
        width: 50%;
    }

    .page_right_div table.account td {
        color: #444;
        padding: 1.2vh 12px;
        font-weight: 400;
        border-right: solid 1px #177bb7;
        border-bottom: solid 1px #177bb7;
        width:50%;
    }

        .page_right_div table.account td:last-child, .page_right_div table.account th:last-child {
            border-right: none;
        }

.account1 {
    float: right;
    margin-right: 70px;
}

.page_right_div table.account1 {
    float: left;
    width: 100%;
}

    .page_right_div table.account1 td {
        color: #444;
        padding: 1.6vh 12px;
        width: 50%;
        font-weight: 400;
        border-right: solid 1px #177bb7;
        /*border-bottom: solid 1px #177bb7;*/
    }

        .page_right_div table.account1 td:last-child, .page_right_div table.account1 th:last-child {
            border-right: none;
        }





.border_none {
    border-right: none !important;
}

.right_button {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 4px 0;
    width: 100%;
    
}

    .right_button li {
        float: left;
        /*padding: 1.4vh 6px;*/
        border-right: solid 1px #cecece;
        
        display:table;
        text-align:center;

    }
     .right_button li div{
         display:table-cell;
         vertical-align:middle;
         height: 9.4vh;
     }

        .right_button li:nth-child(1) {
            width: 20%;
        }

        .right_button li:nth-child(2) {
            width: 20%;
        }

        .right_button li:nth-child(3) {
            width: 30%;
        }

        .right_button li:nth-child(4) {
            width: 30%;
        }

        .right_button li:last-child {
            border-right: none !important;
        }

        .right_button li span {
            float: left;
            width: 100%;
            text-align: center;
            line-height:22px;
        }

.right_button_1 {
    padding-top: 4px;
    /*float: left;*/
    width: 100%;
    text-align: center;
}

    .right_button_1 img {
        max-width: 100%;
    }

.right_button_2 img {
    max-width: 100%;
}

.right_button_2 {
    padding-top: 4px;
    /*float: left;*/
    width: 100%;
    text-align: center;
}

.right_button2 {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 5px 0;
    list-style-type: none;
}

    .right_button2 li {
        float: left;
        width: 50%;
    }
/*.hand_button{

    float: left;
    width: 100%;
    padding: 20px 0px;
    cursor: pointer;
    text-align: center;
    border-left:solid 1px #cacaca;
	border-radius: 15px;
	width:100%;
	box-shadow: -3px -3px 6px 2px #a3d6f3 inset;
}
*/ .main_nav {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding:0px;
    width: 100%;
    display:table;
}

    .main_nav li {
        /*width: calc(100% / 6);*/       
      /* border-right: solid 1px #c1c1c1;*/
        display:table-cell;
        height:calc(11vh - 4px);
        vertical-align:middle;
        position:relative;
    }
    .main_nav li::after{
        content:"";
        position:absolute;
        width:1px;
        height:80%;
        background:#c1c1c1;
        top:10%;
        right:0px;
    }
    .main_nav li:last-child::after{
        display:none;

    }

        .main_nav li:last-child {
            border-right: none;
        }

        .main_nav li a {
            float: left;
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: #444;
            
            
            /*padding: 10px 0px;*/
        }

.full_width {
    float: left;
    width: 100%;
    position: relative;
}

.more_nav {
    float: left;
    width: 12%;
    padding: 8px 5px;
}

    .more_nav a {
        color: #fff !important;
        font-size: 18px;
        text-decoration: none !important;
        float: left;
        width: 100%;
        text-align: center;
        padding: 14px 0px;
    }

        .more_nav a:hover {
            color: #fff !important;
            text-decoration: none !important;
        }

.nav_div {
    float: left;
    width: 88%;
}

.page_tab {
    float: left;
    width: 100%;
    background: #12679a;
}

.page_tab_d {
    float: left;
    background: #064469;
    color: #fff;
    padding: 1.7vh 15px;
    width: 30%;
    font-size: 14px;
    border: solid 1px #023858;
    font-weight: 600;
    border-radius: 5px 13px 0px 0px;
}

.page_tab_content {
    float: left;
    width: 100%;
}

.tab_con_box_1 {
    float: left;
    width: 30%;
}

.tab_con_box_2 {
    float: left;
    width: 70%;
}

.tab_box {
    float: left;
    width: 25%;
    padding: 4px 4px;
}

.tab_boxtotbooking {
    float: left;
    width: 100%;
    padding: 4px 4px;
}

.button_box_left {
    float: left;
    background: #ddf0fb;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: -3px -3px 6px 2px #a3d6f3 inset;
    position: relative;
}

.button_box {
    float: left;
    background: #ddf0fb;
    padding: 20px 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: -3px -3px 6px 2px #a3d6f3 inset;
}

.session_name {
    float: left;
    width: 100%;
    padding: 5px 0px;
    font-weight: 600;
    text-align:left;
    font-size: 18px;
}

.session_time {
    float: left;
    width: 100%;
    padding: 6px 0px 3px;
    font-size: 14px;
}

    .session_time span.left {
        float: left;
        font-size: 13px;
    }

    .session_time span.right {
        float: right;
        font-size: 13px;
    }

.green_active {
    background: #00ff2d !important;
    box-shadow: -3px -3px 6px 2px #21d641 inset;
}

.colure-2 {
    background: #12679a !important;
    box-shadow: -3px -3px 6px 2px #1b3a4c inset;
    color: #fff;
}

.colure-3 {
    background: #d40735 !important;
    box-shadow: -3px -3px 6px 2px #842238 inset;
    color: #fff;
}

.colure-4 {
    background: #70C07F !important;
    box-shadow: -3px -3px 6px 2px #616963 inset;
    color: #fff;
}

.button_box .type_text {
    float: left;
    width: 100%;
    text-align: center;
}

.button_box .price_text {
    float: left;
    width: 100%;
    text-align: center;
}

.tab_box_1 {
    float: left;
    width: 100%;
    padding: 4px 4px;
}

.cont_left {
    width: 100%;
    float: left;
    height: calc(75vh - 8px);
    overflow-y: auto;
}

.cont_right {
    float: left;
    width: 10%;
}

.cont_right_tab {
    float: right;
    width: 100%;
}
.date-pick{
    outline:none;
    border:none;
    color: transparent;
}
.ui-state-default{
    border: 1px solid #424242!important;
    background: #656565!important;
    font-weight: normal!important;
    color: #ffffff!important;
}
.ui-state-active{
    border: 1px solid #424242!important;
    background: #1c74c1!important;
}
.ui-state-highlight{
       border: 1px solid #4b7d10!important;
    background: #6aa723!important;
}
.ui-widget.ui-widget-content {
  border: 5px solid #d4d4d4!important;
    border-radius: 0!important;
    box-shadow: 2px 3px 2px 1px #545454;
}
#ui-datepicker-div{
    z-index:9999;
    margin-left:-180px;
    transform:translateY(-50%);
    position:absolute;
    left:50%;
    top:50%;
}

.ui-widget-content{
    width:360px!important;
}
.ui-datepicker td span, .ui-datepicker td a{
        padding: 1em!important;
    text-align: center!important;
}
 .cont_right_tab ul.dropdown-menu{
  
         width: 321px;
    padding: 1px 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: -160px;
 }

 /*********calender*************/
 .text-center {
    text-align: center;
    padding: 4px;
}
  /*********calender*************/
    .cont_right_tab ul {
        float: right;
        width: 60px;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        /*position: static;*/
    }

        .cont_right_tab ul li {
            float: left;
            width: 100%;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-right: 2px;
        }

.right_box {
    float: left;
    background: #ddf0fb;
    padding: 30px 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: -3px -3px 6px 2px #a3d6f3 inset;
}

.clock_1 {
    background-image: url(../images/clock_1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.clock_2 {
    background-image: url(../images/clock_2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.clock_3 {
    background-image: url(../images/clock_3.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.clock_4 {
    background-image: url(../images/clock_4.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.calender {
    background-image: url(../images/calender.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.calender_1 {
    background-image: url(../images/calender_1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.calender_2 {
    background-image: url(../images/calender_2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.r_box {
    padding: 25px 10px !important;
    text-align: center;
    font-weight: 600;
}

.page_row {
    float: left;
    width: 99%;
}

.page_row table{ width:100%; float:left; border:1px solid #CCC;}
.page_row table tr{ }
.page_row table tr td{     padding: 1.2vh 3.2vh;}

.blank-box {
    padding: 50px;
    width: 100%;
    float: left;
}

.inner_body .right_section .page_right_section .page_right_div .right_button2 li strong center {
    font-size: 14px;
    width: 100%;
    float: left;
}

.page_right_div table.tb {
    float: left;
    width: 100%;
}

    .page_right_div table.tb th {
        background: #12679a;
        color: #fff;
        padding: 13px 12px;
        font-weight: 400px;
        border-right: solid 1px #177bb7;
    }

    .page_right_div table.tb td {
        color: #444;
        padding: 13px 12px;
        font-weight: 400;
        border-right: solid 1px #177bb7;
        border-bottom: solid 1px #177bb7;
    }

        .page_right_div table.tb td:last-child, .page_right_div table.tb th:last-child {
            border-right: none;
        }

.app-package {
    width: 100%;
    float: left;
    position: relative;
    z-index: 99;
    color: #fff;
}

.back-per {
    position: absolute;
    background-color: #12679a;
    float: left;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.back-per1 {
    position: absolute;
    background-color: #d40735;
    float: left;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.back-per2 {
    position: absolute;
    background-color: #70C07F;
    float: left;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.button-all {
    border: none;
    width: 100%;
    padding: 0px;
    border-radius: 5px;
}

.min-hei {
    width: 100%;
    float: left;
    height: calc(27vh - 2px);
    overflow-x: auto;
}

.scrol-hover {
    width: 100%;
    float: left;
    position: relative;
}


.scrool-all-datat {
   width: 100%;
    float: left;
    height: 16vh;
    
    margin: 0px;
    padding: 0vh 10px!important;
}

.second-scrol {
    width: 90%;
    float: left;
    position: relative;
}

.more {
    float: left;
    width: 100%;
    margin-top: 100%px;
    overflow: visible;
    position: relative;
}

.more_menu {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0;
    width: 100%;
    background: #fff;
    margin-bottom: 6px;
    box-shadow: 2px 2px 1px 1px #1c3f54;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}

    .more_menu li span {
        float: left;
        width: calc(100% / 6);
        padding: 0px 0px;
        border-bottom: solid 1px #d4d4d4;
        border-right: solid 1px #d4d4d4;
        min-height: 65px;
    }

        .more_menu li span:last-child {
            /* border-right: none;*/
        }

        .more_menu li span a {
            float: left;
            width: 100%;
            text-align: center;
            text-decoration: none;
            height: 10vh;
            color: #444;
            padding: 22px 0px;
            background: #f3f3f3;
            box-shadow: -2px -3px 4px 2px #e2e2e2 inset;
        }




.btn-default-box {
    color: #333;
    background-color: #fff;
    float: left;
    background: #ddf0fb;
    padding: 33px 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: -3px -3px 6px 2px #a3d6f3 inset;
}

.btn-cal {
    padding: 27px 11px;
}

.click-fun {
    display: inline-block;
}

    .click-fun:hover {
        color: #fff;
    }

.click-fun-none {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}


.click-fun1 {
    display: inline-block;
}

.click-fun1:hover {
    color: #fff;
}

.click-fun1-noneprint {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-noneprintstep1 {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-noneprinttransaction {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-noneprintuser {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonesetting {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonerefund {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonerefundstep1 {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonerefundaddons {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonetransactions {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-noneaddons {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-nonebookingprocess {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}
.click-fun1-noneprint1 {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}

.click-fun1-noneprint2 {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}
.click-fun1-noneprintt {
    display: none;
    width: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
}


.popr-ip {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
}

.scrol-hover-right-side {
    width: 100%;
    float: left;
    position: relative;
    height:16vh;
    padding:0.5vh 0px;
    overflow-y:auto;
}






.image-boto {
    width: 100%;
    float: left;
    text-align: right;
    padding: 1px 20px;
    list-style-type:none;
}
.image-boto li{
    float:left;
    width:50%;
    position:relative;
    display:table;
     height: calc(14vh - 6px);
}
.image-boto li:after{
    content:"";
    position:absolute;
    right:0px;
    top:10%;
    width:1px;
    height:80%;
    background:#ccc;

}
.image-boto li:last-child:after{
    display:none;
}
.image-boto li div{
    display:table-cell;
    vertical-align:middle;
           height: calc(14vh - 6px);
    text-align: center;
}

    

.advance-boo {
    width: 100%;
    float: left;
    padding: 3px 10px;
    font-weight: 700;
    font-size: 17px;
}

.bottom_section {
    float: left;
    width: 100%;
    height: calc(5vh - 5px);
    margin-top: 5px;
    background: #b15505;
}

    .bottom_section ul {
        float: left;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        width: 100%;
    }

        .bottom_section ul li {
            width: 20%;
            text-align: center;
            float: left;
            color: #fff;
           padding: 0.7vh 0px 0.5vh;
            border-right: solid 1px #fff;
        }

            .bottom_section ul li:last-child {
                border-right: none;
            }
/*********page_two***********/
.left_div {
    float: left;
    width: calc(54% - 1px);
    height: calc(95vh - 0px);
}

.left_div2 {
    float: left;
    width: calc(46% - 1px);
    height: calc(95vh - 0px);
}

.page_left_1 {
    float: left;
    height: calc(86vh - 6px);
    width: calc(78% - 8px);
    margin: 4px 2px 4px 5px;
}

.page_left_2 {
    float: left;
    width: calc(22% - 3px);
    /*height: calc(94vh - 8px);*/
    margin: 4px 2px 4px 2px;
}

.page_left_3 {
    float: left;
    height: calc(86vh - 6px);
    width: calc(30% - 8px);
    margin: 4px 2px 4px 2px;
}

.page_left_4 {
    float: left;
    height: calc(94vh - 8px);
    width: calc(70% - 1px);
    margin: 4px 3px 4px 2px;
}

.div_box {
    float: left;
    width: 100%;
    background: #fff;
    padding: 3px 5px;
    box-shadow: 0px 0px 2px 2px #023350 inset;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}

.height_1 {
    height: 62vh;
}

.height_2 {
    height: 85vh;
}

.height_3 {
    height: 76.6vh;
}

.height_4 {
    height: 68.3vh;
}

.box_data {
    float: left;
    width: 100%;
}

.box_tbl {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    border-collapse: collapse;
}

    .box_tbl td:first-child {
        text-align: left;
    }

    .box_tbl td:nth-child(2) {
        text-align: right;
    }

    .box_tbl td {
        padding: 3px 5px;
    }

    .box_tbl tr {
        border-bottom: solid 1px #ccc;
    }

.account_btn {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

    .account_btn li {
        float: left;
        width: 100%;
        text-align: center;
        display: table;
        padding: 3px 0px 0px;
    }

        .account_btn li span {
            display: table-cell;
            vertical-align: middle;
            background: #f1f1f1;
            height: 8vh;
            box-shadow: -3px -3px 6px 2px #c5c5c5 inset;
        }

.note_btn {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

    .note_btn:first-child {
        margin-top: 4px;
    }

    .note_btn img {
        max-width: 100%;
    }

.sep_div {
    float: left;
    width: 100%;
}

.split_ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

    .split_ul li {
        float: left;
        width: 49.3%;
        text-align: center;
        padding: 0.5vh 0px;
        position: relative;
    }

        .split_ul li:last-child {
            padding: 0.9vh 0px 0;
        }

        .split_ul li::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 80%;
            background: #ccc;
            top: 10%;
            right: 0;
        }

        .split_ul li:last-child::after {
            display: none;
        }

        .split_ul li a {
            padding: 1.9vh 0px;
            display: inline-block;
            width: 70%;
            text-decoration: none;
        }

        .split_ul li:last-child {
            font-weight: 600;
        }
.top-left-he{margin-left: 3.2vh;}
.outstanding {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

    .outstanding li {
        float: left;
        width: 50%;
    }

        .outstanding li:first-child {
            text-align: left;
        }

        .outstanding li:nth-child(2) {
            text-align: right;
        }

.border-top {
    border-top: solid 1px #ccc;
}

.outstanding_padding {
    padding: 1vh 8px;
}

.split_box_height {
    height: calc(14.6vh - 4px);
    margin-top: 4px;
}

.option_btn {
    float: left;
    width: 100%;
    height: calc(8.3vh - 4px);
    margin-top: 4px;
}

.option_btn01 {
    float: left;
    width: 100%;
    height: calc(8.3vh - 4px);
    padding: 0 2px 0 5px;
}

.option_btn_l {
    float: left;
    width: calc(30% - 5px);
    margin-right: 5px;
}

.option_btn_r {
    float: left;
    width: 70%;
}

.option_ul {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .option_ul li {
        float: left;
        width: 50%;
        text-align: center;
        position: relative;
        padding: 0.9vh 0;
        display: table;
    }

        .option_ul li a {
            display: table-cell;
            vertical-align: middle;
            height: calc(5.3vh - 4px);
        }

            .option_ul li a img {
                max-height: 100%;
            }

        .option_ul li:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            background: #ccc;
            height: 80%;
        }

        .option_ul li:last-child::after {
            display: none;
        }

.option_btn_height {
    height: calc(8.3vh - 4px);
}

.option_btn_height2 {
    height: calc(8.3vh - 3px);
}

.option_btn_r_ul {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .option_btn_r_ul li {
        float: left;
        width: 33.3%;
        position: relative;
        height: calc(7vh - 0px);
        padding: 4px 5px;
        text-align: center;
    }

        .option_btn_r_ul li:after {
            content: "";
            position: absolute;
            right: 0px;
            top: 9%;
            width: 1px;
            height: 80%;
            background: #ccc;
        }

        .option_btn_r_ul li:last-child::after {
            display: none;
        }

        .option_btn_r_ul li:last-child a {
            display: block;
            color: #444;
            text-decoration: none;
            padding: 1.4vh 0px;
        }

.complete_btn_height {
    height: 16.3vh;
}

.option_btn_first_bottom {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    list-style-type: none;
}

    .option_btn_first_bottom li {
        float: left;
        width: 20%;
        position: relative;
        height: calc(7vh - 0px);
        padding: 4px 5px;
        text-align: center;
    }

        .option_btn_first_bottom li a {
            padding: 1.3vh 0px;
            display: inline-block;
            width: 70%;
            text-decoration: none;
        }

        .option_btn_first_bottom li:after {
            content: "";
            position: absolute;
            right: 0px;
            top: 9%;
            width: 1px;
            height: 80%;
            background: #ccc;
        }

        .option_btn_first_bottom li:last-child:after {
            display: none;
        }

.tbl_design_th {
    float: left;
    width: 100%;
}

    .tbl_design_th th {
        width: 50%;
        text-align: center;
        background: #e6e6e6;
        padding: 1.6vh 0;
        border-right: solid 1px #ccc;
    }

        .tbl_design_th th:last-child {
            border-right: none;
        }

.tbl_design_td {
    float: left;
    width: 100%;
}

    .tbl_design_td td {
        width: 50%;
        text-align: center;
        
        padding: 1vh 0;
        border-right: solid 1px #ccc;
    }

        .tbl_design_td td:first-child {
            text-align: left;
            padding-left: 8px;
        }

        .tbl_design_td td:last-child {
            border-right: none;
        }

    .tbl_design_td tr {
        border-bottom: solid 1px #ccc;
        background: #f7f7f7;
    }

.tbl_overflow {
    float: left;
    width: 100%;
    height: 56vh;
    overflow-y: auto;
}
.sel {
    background-color: #ffff00!important;
    /* color: #FFF; */
}
.tbl_design_td2 {
    float: left;
    width: 100%;
}

    .tbl_design_td2 td {
        width: 50%;
        text-align: center;
        background: #f7f7f7;
        padding: 1vh 0;
    }

        .tbl_design_td2 td:first-child {
            text-align: left;
            padding-left: 8px;
        }

        .tbl_design_td2 td:last-child {
            border-right: none;
        }

.complete_btn {
    float: left;
    width: 100%;
    text-align: center;
    display: table;
}

.complete_btn_img {
    display: table-cell;
    vertical-align: middle;
    height: 15vh;
}

.complete_ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    list-style-type: none;
}

    .complete_ul li {
        float: left;
        width: 50%;
        height: 15vh;
    }

.option_ul2 {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .option_ul2 li {
        float: left;
        text-align: center;
        position: relative;
        padding: 0.9vh 0;
        display: table;
    }

        .option_ul2 li:nth-child(1) {
            width: 18%;
        }

        .option_ul2 li:nth-child(2) {
            width: 18%;
        }

        .option_ul2 li:nth-child(3) {
            width: 32%;
        }

        .option_ul2 li:nth-child(4) {
            width: 32%;
        }

        .option_ul2 li a {
            display: table-cell;
            vertical-align: middle;
            height: calc(5.3vh - 4px);
        }

        .option_ul2 li:nth-child(3) a, .option_ul2 li:nth-child(4) a {
            display: table-cell;
            vertical-align: middle;
            height: calc(5.4vh - 4px);
            color: #444;
            text-decoration: none;
        }

        .option_ul2 li a img {
            max-height: 100%;
        }

        .option_ul2 li:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            background: #ccc;
            height: 80%;
        }

        .option_ul2 li:last-child::after {
            display: none;
        }

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.fl_left{
    float:left;
    width:100%;
}
@media screen and (max-width:1000px){
    .page_tab_d{
        width:40%;
    }
}

.selected {
    background-color: #ffff00;
    color: #FFF;
}

.nodatatxt
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    color: red;
    text-align: center;
}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.pop_login{
    position: fixed;
    width: 330px;
    height: 222px;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    margin:auto auto;
    background: #fff;
    padding:15px 15px;
}
.pos_input_box{
    float:left;
    width:100%;
    padding-bottom: 10px;

}
.pos_input_box input{
    float:left;
    width:100%;
    border:solid 1px #ccc;
    font-size:20px;
    padding:8px 8px;
    outline: none;
}
.pos_input_box input[type="submit"]{
    background: #08405a;
    color:#fff;
    border:none;
}
.pos_pop_box{  
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: #f5f5f5;
    padding:3px 3px;
    margin:auto;
    z-index: 999;
    border:solid 5px #ccc;
    box-shadow: 2px 2px 2px 2px #444;
   /* display: none;*/
}
.pos_pop_title{
  float:left;
  width:100%;
  background:#444;
  padding:5px 8px;
  color:#fff;
  font-size:17px;
  margin-bottom: 8px;
}
.pos_pop_input_box{
    float:left;
    width:100%;
    padding:0px 15px 8px 15px;
}
.pos_pop_input_box input[type="text"]{
width:100%;
border:solid 1px #ccc;
padding:8px 7px;
outline: none;

}
.submit_btn{
    float:left;
    width:calc(50% - 8px);
    background: #064469;
    color:#fff;
    margin-right:8px;
    border:none;
    padding:7px 0px;
    outline: none;
}
.cancel_btn{
    float:left;
    width:calc(50% - 8px);
    background: #0676b9;
    color:#fff;
    margin-left:7px;
    border:none;
    padding:7px 0px;
    text-align: center;
    cursor: pointer;
}
.cancel_btnprint{
    float:left;
    width:calc(50% - 8px);
    background: #0676b9;
    color:#fff;
    margin-left:7px;
    border:none;
    padding:7px 0px;
    text-align: center;
    cursor: pointer;
}

.printing_data{
    float:left;
    width:100%;
    padding:8px 0px;
}
.printing_data ul{
    margin:0px;
    
    padding:0px;
    float:left;
    width:100%;
    list-style-type: none;
}
.printing_data ul li{
    float:left;
    width:100%;
    position: relative;
    border-bottom: solid 1px #e6e6e6;
    padding:8px 0px 2px 0px;
}
.printing_data ul li input[type="checkbox"]{
    
    opacity: 0;
    position: absolute;
    z-index: 9;
}
.printing_data ul li label{
    float:left;
    width:100%;
    position: relative;
    z-index: 11;
    padding-left:30px;
    cursor: pointer;

}

.printing_data ul li label:before{
    position: absolute;
    width:20px;
    height:20px;
    border:solid 1px #444;
    content: "";
    left:0;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.printing_data ul li label:after{
    position: absolute;
    width:15px;
    height:6px;
    border-left:solid 1px #fff;
    border-bottom:solid 1px #fff;
    content: "";
    left: 3px;
    top: 5px;
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}
.printing_data ul li input[type="checkbox"]:checked ~ label:before{
    background: #444;
}
.printing_data ul li input[type="checkbox"]:checked ~ label:after{
    opacity: 1;
}
.printing_data ul li label span:first-child{
    float:left;
    width:60%;
}
.printing_data_list{
    float:left;
    width:100%;
    max-height:200px;
    overflow-y: auto;
    padding:0 15px;
    margin-bottom: 10px;
}

.refundlist ul li label {
    float: left;
    width: 100%;
    position: relative;
    z-index: 11;
    padding-left: 0px !important;
    cursor: pointer;
}
.refundlist ul li label:before {
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 1px #444;
    content: "";
    left: 0;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none !important;
}
.refundlist ul li label:after {
    position: absolute;
    width: 15px;
    height: 6px;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
    content: "";
    left: 3px;
    top: 5px;
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    display: none !important;
}




.p_data_change{
    float:left;
    width:100%;
    padding:0px 15px 10px 15px;
}
.tran_id{
    float:left;
    width:60%;
    font-weight:600;
    font-size:16px;
    padding-top:4px;
}
.tran_id_change{
    float:right;
    padding:5px 14px;
    background: #d48306;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}